<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level[%thread]%logger{40}:%line > %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>info</level>
          </filter>
    </appender>
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${base.env.accounting.log.path}/infoFile.log</file><!-- /opt/logs/settle.log -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${base.env.accounting.log.path}/infoFile.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{32}:%line > %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="sqlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${base.env.accounting.log.path}/sqlFile.log</file><!-- /opt/logs/settle.log -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${base.env.accounting.log.path}/sqlFile.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
       <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{32}:%line > %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${base.env.accounting.log.path}/errorFile.log</file><!-- /opt/logs/settle.log -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${base.env.accounting.log.path}/errorFile.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{32}:%line > %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="com.zit.accounting.dao.mapper" level="debug" additivity="true">
        <appender-ref ref="sqlFile"/>
    </logger>
    <root level="debug">
        <appender-ref ref="infoFile"/>
        <appender-ref ref="errorFile"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>